@model IEnumerable<Eigenproject.Models.GenreModel>


<h4 style="padding-right: 48px; margin-left: 10px; margin-bottom: -8px; color: white">Popular Genres</h4>
<div style="padding-right: 48px; margin-left: 10px">
    @for (int i = 0; i < Model.Count(); i++)
    {
        @Html.ActionLink(@Model.ElementAt(i).Name, "GetPostsByGenre", "Post", new { genre = Model.ElementAt(i).Name }, new { @style = "padding-left: 0px; padding-right: 8px" })
    }
</div>
